## Deliverable 3. Create a Travel Itinerary Map.

In [54]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [55]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,18,Kapaa,US,79.00,light rain,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
1,43,Georgetown,MY,78.80,few clouds,5.41,100.34,Cititel Penang
2,44,Hilo,US,87.80,clear sky,19.73,-155.09,Hilo Hawaiian Hotel
3,48,Butaritari,KI,82.17,overcast clouds,3.07,172.79,Isles Sunset Lodge
4,53,Gorontalo,ID,79.97,scattered clouds,0.54,123.06,Maqna Hotel by Prasanthi

In [56]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>

<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current description</dt><dd>{Current description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>

</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [57]:
# 4a. Add a marker layer for each city to the map.

locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Hervey Bay"]
vacation_end = vacation_df.loc[vacation_df["City"] =="Hervey Bay"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] =="Mareeba"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] =="Katherine"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] =="Port Hedland"] 
vacation_start.head()

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
66,304,Hervey Bay,AU,80.6,moderate rain,-25.3,152.85,Shelly Bay Resort

In [63]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

In [64]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
gmaps.configure(api_key=g_key)

# Latitude-longitude pairs
locations = [(start), (stop1), (stop2), (stop3),(end)]

locations

[(-25.3, 152.85),
 (-17.0, 145.43),
 (-14.47, 132.27),
 (-20.32, 118.57),
 (-25.3, 152.85)]

In [65]:

fig = gmaps.figure()
Hawaiitrip = gmaps.directions_layer(start,end, waypoints=[stop1,stop2,stop3],travel_mode="DRIVING")
fig.add_layer(Hawaiitrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,304,Hervey Bay,AU,80.60,moderate rain,-25.30,152.85,Shelly Bay Resort
1,450,Mareeba,AU,84.99,broken clouds,-17.00,145.43,Trinity Plains Tourist Park
2,394,Katherine,AU,86.00,clear sky,-14.47,132.27,Pine Tree Motel
3,607,Port Hedland,AU,78.80,clear sky,-20.32,118.57,The Esplanade Hotel

In [67]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current description}</dd>


</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]


# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [68]:
# 11a. Add a marker layer for each city to the map.

locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))